#page-login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    width: 100%;
    height: 100vh;


    > div{
        width: calc(100%/2);
        height: 100vh;
    }

    #image-description{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;

        width: 100%;
        height: 100vh;

        padding:32px;

        background: #0067AA;
        #image{
            > svg{
                max-width: 500px;
                max-height: 400px;
                padding: 32px; 
            }
        }
        #description{
            font-family: "Poppins", sans-serif;
            color: #fff;

            h2{
                font-weight: bold;
                font-size: 2rem;
            }
            p{
                font-size: 1.10rem;
                white-space: nowrap;
            }
        }
    }

    #login{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 32px;
        
        font-family: "Poppins", Sans-serif;

        #logo{
            align-self: flex-end;
            position: absolute;
            top: 10px;
            a{
                text-decoration: none;
                color: #023859;
                

                h1{
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 42px;

                    > span{
                        font-style: italic;
                    }
                }
            }
        }
        #inputs-login{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            h2{
                font-size: 2.25rem;
                margin-bottom: 40px;
                font-weight: bold;
            }
            
            #input-labels{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                
                label{
                align-self: flex-start;
                font-size: 1.10rem;
                margin-bottom: 5px;
                }

                input{
                    width: 360px;
                    height: 40px;
                    margin-bottom: 15px;

                    border-radius: 8px;
                    border: 1px solid #c6c6c6;
                }
            }
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            margin-top: 30px;
            border: 0;
            border-radius: 8px;

            width: 142px;
            height: 41px;

            background: #023859;

            font-family: "Poppins", Sans-serif;
            font-weight: 520;
            color: #fff;
            font-size: 1rem;


            cursor: pointer;

            &:hover{
                filter: brightness(0.9);
            }
        }
    }

}