table{
    border: 1px solid #000;
    
    &:not(#header){
        padding: 5px;
    }

    background-color: rgba(255, 255, 255, 0.5);

    thead{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        border-bottom: 1px solid #000;

        

        th{
            width: 130px;
            font-weight: 500;
        }

        #item{
            display: flex;
            align-items: center;

            width: 100%;
            text-align: center;
            > td{
                text-align: center;
                width: 130px;

                font-size: 10px;
            }
        }

    }
}