.idiomas{
  margin-top: 110px;
  margin-right: 88px;
  width: 385px;
  height: 257px;
  left: 274px;
  top: 2516px;

  background: #FEFEFE;
  border-radius: 8px;

    h1{
      margin-left: 34px;
      margin-top: 32px;
      margin-bottom:41px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #000000;
    }
    .center{
      width: 285px;
      height: 190px;
      display: flex;
      
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      text-align: left;
      align-items:left;
      justify-content:left;
      
      .row{
        margin-left:130px;
        width: 285px;
        height: 30px;

      span{
        margin-right: 22px;
        width: 15px;
        height: 16.68px;
        left: 345px;
        top: 2634.19px;
        border-radius:8px;
        background: #023859;
      }

      h2{
        font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          /* identical to box height */

          display: flex;
          align-items: center;

          color: #000000;
      }
    }

    }
}