*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#cabecalho{
    margin-top: 20px;

    display: flex;
    flex-flow: column nowrap;

    text-align: center;
    gap: 16px;
    align-items: center;
    justify-content: center;
    

    h1{
        font-weight: 500;
    }

}
