.formacoes{
  width: 858px;
  height: 344px;
  left: 274px;
  top: 1482px;

  background: #FEFEFE;
  border-radius: 8px;

  h2{
    margin-left:54px;
    margin-top:66.68px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #000000;
  }
  .center{
    width: 858px;
    height: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .otherexperiences{
      display: flex;
      flex-direction: row;
        width:676px;
        height: 240px;
        margin-top: -20px;
      img{
        width: 125px;
        height: 137.6px;
        margin-bottom: 50px;
      }

      .jobsline{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 123px;
        margin-left: 18px;
    
    h3{
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
     
      align-items: center;

      color: #000000;

    }
    h5{
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;

      color: #000000;
    }
    .row{
      margin-top:12px;
      display: flex;
      flex-direction: row;
      width: 500px;
      height:20px;
      
    .ensino{
      font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        
        align-items: center;
        
        color: #000000;
    }
    
    }
  }
}

  }
      }