#info-academicas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    width: 70%;
    // min-height: 50vh;
    // max-height: 100vh;

    margin-bottom: 30px;
    form{
        width: 90%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    
        > div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
    
            width: 100%;
        }

        #wrapper{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        #sec2{ 
            display: flex;
            align-items: center;

            select{
                height: 35px;
            }
            input{
                width: 170px;
                white-space: nowrap;
            }
        }
    }
}
